/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

body {
  background: linear-gradient(45deg, #555555, #151515, #050505, #151515);
  font-family: Syne;
  color: white;
  margin: 0 !important;
}

.navbar-title {
  width: 150px;
  height: 60px;
}

nav {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 10000000;
}

.navbar-center {
  display: none;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  justify-content: cener;
  align-items: center;
  gap: 10px;
}

.navbar {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid transparent;
  width: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
}

.landing {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  z-index: -10;
  overflow: hidden;
}

.navbar-icon-item {
  display: none;
}

.navbar-login-item {
  border-radius: 30px;
  border: #fff solid 1px;
  padding: 10px;
  transition: all ease-in-out 200ms;
}

.navbar-login-item:hover {
  padding: 15px;
}

.outer-ring {
  background:
    linear-gradient(#050505 0 0) padding-box,
    linear-gradient(to right, #b4a5a5, #151515, #151515, #b4a5a5) border-box;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 100%;
  display: inline-block;
  height: 400px;

  aspect-ratio: 1;
  transform: translate(0, 210px);
  z-index: -10;
}

.inner-ring {
  background:
    linear-gradient(#050505 0 0) padding-box,
    linear-gradient(to right, #b4a5a5, #151515, #151515, #b4a5a5) border-box;
  border-radius: 100%;
  height: 200px;
  aspect-ratio: 1;
  transform: translate(100px, 100px);
  border: 1px solid transparent;
}

.planet {
  background: #faef5d;
  height: 70px;
  aspect-ratio: 1;
  border-radius: 100%;
  transform: translate(65px, 60px);
  box-shadow: 0 0 20px 4px #faef5d;
}

.planet-2 {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 100%;
  background: #ff004d;
  position: fixed;
  transform: translate(0, 60px);
  box-shadow: 0 0 20px 4px #ff004d;
}

.planet-3 {
  height: 30px;
  aspect-ratio: 1;
  border-radius: 100%;
  background: #1d2b53;
  position: fixed;
  transform: translate(180px, 60px);
  box-shadow: 0 0 20px 4px #1d2b53;
}

.main {
  margin-top: 60px;
}

.tagline {
  font-size: calc(3vw + 3vh);
  margin-top: 200px;
  text-align: center;
  /** TEXT GRADIENT */
  color: #ffffff;
  background-image: -webkit-linear-gradient(0deg, #ffffff 52%, #a8a8a8 96%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.stars {
  background-image: url(https://uploads-ssl.webflow.com/6408bea3de5aef58b7e197d4/6438c3059d443cd7a78762eb_stars-bg.png);
  background-position: 50%;
  background-size: 1090px;
  top: 0%;
  left: 0%;
  overflow: hidden;
  z-index: 100;
  animation: slide 15s linear infinite;
}

.about {
  background:
    linear-gradient(#151515 0 0) padding-box,
    linear-gradient(to right, #b4a5a5, #151515, #151515, #b4a5a5) border-box;
  border-top: 1px solid transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
  font-size: 2.35em;
  text-align: left;
  padding: 100px;
}

.team {
  background: transparent;
  display: flex;
  flex-direction: column;
}

.team-title {
  font-size: 4em;
  text-align: center;
}

.team-member img {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.team-founders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-frontend {
  display: flex;
  flex-direction: column;
  align-items: center;
u  justify-content: center;
  margin-top: 100px;
}

.team-member {
  display: flex;
  flex-direction: column;
 t gap: 10px;
  align-items: center;
  background: #000;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: left;
  margin-top: 50px;
}

.media {
  margin-top: 30px;
}

.projects {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.projects .card {
  background-color: #ccc;
  width: 300px;
  height: 150px;
  aspect-ratio: 2;
  border-radius: 10px;
}

.navbar-text-item {
  font-size: 1em;
  transition: font-size 200ms ease-in-out;
}

.navbar-text-item:hover {
  font-size: 1.5em;
}

.navbar-center-item {
  font-size: 1em;
  transition: font-size 200ms ease-in-out;
}

.navbar-center-item:hover {
  font-size: 1.5em;
}

@media only screen and (min-width: 1000px) {
  .navbar-center {
    display: flex;
  }

  .navbar-text-item {
    display: none;
  }

  .navbar-text-item .login {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-text-item {
    display: none;
  }

  .navbar-icon-item {
    display: block;
  }

  .navbar-login-item {
    display: none;
  }
     
  .about {
    padding: 50px;
    padding-top: 100px;
  }

  .projects .card {
    width: 200px;
    height: 100px;
  }

  .team-member {
    scale: 80%;
    height: min-content;
  }

  .team-founders-member {
    gap: 10px!important;
  }

  .about {
    font-size: 1.5em;
  }

  .navbar-title {
    width: 100px;
    height: 40px;
  }
}

@keyframes slide {
  0% {
    background-position: 1vh;
  }

  100% {
    background-position: 10vh;
    /* The image width */
  }
}

#highlight {
  opacity: 10%;
  transition: opacity 0.4s;
}

mark {
  background: none;
  color: #fff;
}

.actions {
  height: 40vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.actions a {
  padding: 20px;
  background: none;
  box-shadow: none;
  color: white;
  font-family: Syne;
  border-radius: 50px;
  border: 1px #fff solid;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.actions a:hover {
  padding: 30px;
  border-width: 10px;
  background: #fff;
  color: #000;
}

.actions a:active {
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
