@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #image {
    background-image: url("/BG.png");
    background-size: 100%;
    background-position: 1px 1px;
  }

  html {
    font-family: "jost";
  }

  #motoline-home {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
